<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title For This Document -->
    <title> Nipom - Auto Parts & Accessories Html Template </title>
    <!-- Favicon For This Document -->
    <link rel="shortcut icon" href="assets/images/logo/favicon-32x32.png" type="image/x-icon">
    <!-- Bootstrap 5 Css -->
    @*<link rel="stylesheet" href="assets/css/bootstrap.5.1.1.min.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Jquery Ui Css -->
    <link rel="stylesheet" href="assets/css/plugin/jquery-ui.min.css">
    <!-- FlatIcon Css -->
    <link rel="stylesheet" href="assets/fonts/flaticon.css">
    <!-- Slick Slider Css -->
    <link rel="stylesheet" href="assets/css/plugin/slick.css">
    <!-- Magnific-popup Css -->
    <link rel="stylesheet" href="assets/css/plugin/magnific-popup.css">
    <!-- Style Css -->
    <link rel="stylesheet" href="assets/css/style.css">*@
</head>
<body>

    <!-- Page-wrapper Start -->


    <!-- Page-wrapper Start -->
    <!-- Page-wrapper Start -->
    <!-- Page-wrapper Start -->

    <!-- Page-wrapper Start -->
    <div class="page-wrapper overflow-hidden" id="app">

        <!-- Anouncement Start -->
        <!-- Anouncement End -->
        <!-- Header-default Start -->
        <!-- Header-default End -->
        <!-- Body Container -->
        <div class="page-content overflow-hidden">

            <!--Start Breadcrumb Style2-->
            <section class="breadcrumb-area" style="background-image: url(./front/images/demo-1/banner2.png);">
                <div class="container pb-60">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-content position-relative text-center  ">
                                <h2 class="color-white fw-600">Find Your Dream Computer</h2>
                                <div class="breadcrumb-menu">
                                    <ul class="d-flex align-items-center mt-2 justify-content-center">
                                        <li>
                                            <a href="/"
                                               class="d-inline-flex align-items-center color-white hover-base ">
                                                <i class="flaticon-home pe-2"></i>Home
                                            </a>
                                        </li>
                                        <li class="color-white ms-2 me-2 lh-0"><i class="flaticon-next"></i> </li>
                                        <li class="color-white active">周邊零件</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Breadcrumb Style2-->
            <!--Start Product Categories One-->
            <section class="grid-category pt-3 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12  ">
                            <div class="sliderParent globalarrow roundarrow mobileArrow position-relative">
                                <div class="globalSlider" data-slick='{"spaceBetween": 30, "slidesToShow": 6, "cssEase": "linear",  "infinite": true, "autoplay": true,
                            "pauseOnHover": false, "autoplaySpeed": 3000, "centerMode": false, "dots": false, "slidesToScroll": 1, "arrows": true,
                                "responsive":[
                                {
                                    "breakpoint": 1199,
                                    "settings":{
                                        "slidesToShow": 4
                                    }
                                },
                                {
                                    "breakpoint": 767,
                                    "settings":{
                                        "slidesToShow": 3
                                    }
                                },
                                {
                                    "breakpoint": 500,
                                    "settings":{
                                        "slidesToShow": 2
                                    }
                                }
                            ]}'>

                                    <div v-for="item in ProductDTOes" @@click="productdetail()">
                                        <div class="gridCategoryBox text-center">
                                            <a href="#" class="img-box">
                                                <div class="inner">
                                                    <img :src='item.ProductPic' alt="pictures">
                                                </div>
                                            </a>
                                            <div class="title">
                                                <a href="#" class="fw-600 ">
                                                    <h6 class="fw-600 ">{{item.productName}}</h6>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-arrow-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Product Categories One-->
            <!-- Shop Grid Start -->
            <section class="product-grid pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 d-lg-flex d-none">
                            <div class="sidebar-content-box">
                                <div class="sidebar-box  ">
                                    <form action="#0">
                                        <div class="cNews menuNews radious5 overflow-hidden position-relative d-flex border-0">
                                            <input type="email" class="form-control w-100"
                                                   placeholder="Search entire store here ...">
                                            <button class="btnarrow">
                                                <i class="flaticon-search-interface-symbol"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <hr class="mt-4 mb-4">
                                <div class="sidebar-box mt-4 pt-2  ">
                                    <h3 class="titleAfter d-inline-block">Select Categories</h3>
                                    <div class="checkbox-item mt-2 pt-1">
                                        <form>
                                            <div class="form-group">
                                                <input type="checkbox" id="bedroom"> <label for="bedroom">Tire Wheels</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="decoration"> <label for="decoration">Engine</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="kitchen"> <label for="kitchen">Tire</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="clothing"> <label for="clothing">Suspension</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="office"> <label for="office">Engine Oil</label>
                                            </div>
                                            <div class="form-group m-0">
                                                <input type="checkbox" id="lighting"> <label for="lighting">Brake</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr class="mt-4 mb-4">
                                <div class="sidebar-box  ">
                                    <h3 class="titleAfter d-inline-block">Filter By Price</h3>
                                    <div class="slider-box pt-1 mt-3">
                                        <div id="price-range" class="slider"></div>
                                        <div class="output-price">
                                            <label for="priceRange">Price:</label>
                                            <input type="text" id="priceRange" readonly>
                                        </div>
                                        <button class="filterbtn" type="submit"> Filter </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="shop-grid-page-top-info d-flex flex-md-row flex-column align-items-center justify-content-sm-between justify-content-center">
                                        <div class="mb-3   ">
                                            <p>Showing 1–12 of 50 Results</p>
                                        </div>
                                        <div class="mb-3 d-flex align-items-center  ">
                                            <div class="short-by me-3">
                                                <select class="form-select pselect radious3"
                                                        aria-label="Default select example">
                                                    <option selected>Featured</option>
                                                    <option value="1">Best selling</option>
                                                    <option value="2">Alphabetically, A-Z</option>
                                                    <option value="3">Alphabetically, Z-A</option>
                                                    <option value="4">Price, low to high</option>
                                                    <option value="5">Price, high to low</option>
                                                    <option value="5">Date, old to new</option>
                                                </select>
                                            </div>
                                            <ul class="product-view-style d-flex justify-content-md-between justify-content-center">
                                                <li @@click="changegrid()">
                                                    @*<a href="#" class="">*@
                                                    <i v-if="changeGrid" class="flaticon-pixels viewItem radious3 active"></i>
                                                    <i v-else="changeGrid" class="flaticon-pixels viewItem radious3"></i>
                                                    @*</a>*@
                                                </li>
                                                <li @@click="changelist()">
                                                    @*<a href="#" class="">*@
                                                    <i v-if="changeList" class="flaticon-list viewItem radious3 active"></i>
                                                    <i v-else="changeList" class="flaticon-list viewItem radious3"></i>
                                                    @*</a>*@
                                                </li>
@*                                                <li>
                                                    <a class="viewItem radious3 d-lg-none d-flex"
                                                       data-bs-toggle="offcanvas" href="#offcanvasExample9"
                                                       role="button" aria-controls="offcanvasExample9">
                                                        <i class="flaticon-filter"></i>
                                                    </a>
                                                </li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<partial name="_productGridPartial" />*@
                            <div class="row mt-1" v-if="changeGrid">
                                <div class="col-xl-4 col-md-6 mt-30" v-for="item in ProductDTOes">
                                    <div class="product-item productBorder productPadding">
                                        <div class="product-image-wrapper position-relative">
                                            <a class="d-block d-flex justify-content-center"
                                               href="product-details.html">
                                                <img :src="item.ProductPic" alt="product">
                                            </a>
                                            <div class="productButtonBox">
                                                <ul class="product-button-set d-lg-flex d-none">
                                                    <li class="product-button me-2" @@click="fillmodal(item.productName+'|'+item.productUnitPrice+'|'+item.ProductPic+'|'+item.productQty+'|'+item.productId)">
                                                        <a href="#exampleModalToggle" data-bs-toggle="modal"
                                                           role="button" class="buttonLInk">
                                                            <svg width="20" height="20" viewBox="0 0 25 25" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M12.5 5.05615C7.05576 5.05615 4.03109 9.29041 2.95554 11.1725C2.73488 11.5587 2.62456 11.7517 2.6367 12.0398C2.64885 12.3278 2.77857 12.516 3.03799 12.8923C4.3182 14.7497 7.79389 19.0562 12.5 19.0562C17.2061 19.0562 20.6818 14.7497 21.962 12.8923C22.2214 12.516 22.3511 12.3278 22.3633 12.0398C22.3754 11.7517 22.2651 11.5587 22.0445 11.1725C20.9689 9.2904 17.9442 5.05615 12.5 5.05615Z" />
                                                                <circle cx="12.5" cy="12.0562" r="3" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li :id="item.productId" class="product-button me-2" @@click="addFavorite(item.productId)">
                                                        <a href="#" onclick="return false;" class="buttonLInk">
                                                            <svg width="20" height="20" viewBox="0 0 25 25" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M4.95067 13.9644L11.9033 20.4956C12.1428 20.7206 12.2625 20.8331 12.4037 20.8608C12.4673 20.8733 12.5327 20.8733 12.5963 20.8608C12.7375 20.8331 12.8572 20.7206 13.0967 20.4956L20.0493 13.9644C22.0055 12.1267 22.243 9.10275 20.5978 6.98222L20.2885 6.58349C18.3203 4.04673 14.3696 4.47217 12.9867 7.3698C12.7913 7.77911 12.2087 7.77911 12.0133 7.3698C10.6304 4.47217 6.67972 4.04674 4.71154 6.5835L4.40219 6.98222C2.75695 9.10275 2.9945 12.1267 4.95067 13.9644Z" />
                                                            </svg>
                                                        </a>
                                                        <span id="isFavorite" class="d-none"></span>
                                                    </li>

                                                    <li class="product-button">
                                                        <a href="wishlist.html" class="buttonLInk">
                                                            <i class="flaticon-left-and-right-arrows"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <button class="btn-base addbtn fw-400 whiteBtn mt-2" @@click="addcart(item.productId)">加入購物車
                                                    <span id="isadd" class="d-none"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="product-content text-center mt-3 pt-2">
                                            <ul class="rating justify-content-center">
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                            </ul>
                                            <a class="d-block pt-2" href="product-details.html">
                                                <h6 class="hover-base font-16 text-capitalize fw-500">
                                                    {{item.productName}}
                                                </h6>
                                            </a>
                                            <div class="product-price pt-2 d-flex align-items-center justify-content-center">
                                                <span class="compared-price fw-500 font-14 colorBage1">NT${{item.productUnitPrice}} </span>
                                                <span class="regular-price font-14 ms-2"> NT${{item.productUnitPrice}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <nav class="mt-30" aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">
                                                    <i class="flaticon-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="row mt-1" v-if="changeList">
                                <div class="col-12 mt-30" v-for="item in ProductDTOes">
                                    <div class="product-item productList productBorder productPadding">
                                        <div class="product-image-wrapper position-relative">
                                            <a class="d-block d-flex justify-content-center"
                                               href="product-details.html">
                                                <img :src="item.ProductPic" alt="product" style="padding: 15px;">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                            </ul>
                                            <a class="d-block pt-2" href="product-details.html">
                                                <h6 class="hover-base font-16 text-capitalize fw-500">
                                                    {{item.productName}}
                                                </h6>
                                            </a>
                                            <div class="product-price pt-2 d-flex align-items-center">
                                                <span class="compared-price fw-500 font-14 colorBage1">NT${{item.productUnitPrice}} </span>
                                                <span class="regular-price font-14 ms-2"> NT${{item.productUnitPrice}} </span>
                                            </div>
                                            <p class="mt-2">
                                                {{item.productNotes}}
                                            </p>
                                            <div class="productButtonBox position-relative mt-3">
                                                <ul class="product-button-set d-flex">
                                                    <li class="product-button d-lg-flex d-none me-2" @@click="fillmodal(item.productName+'|'+item.productUnitPrice+'|'+item.ProductPic+'|'+item.productQty+'|'+item.productId)">
                                                        <a href="#exampleModalToggle" data-bs-toggle="modal"
                                                           role="button" class="buttonLInk">
                                                            <svg width="20" height="20" viewBox="0 0 25 25" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M12.5 5.05615C7.05576 5.05615 4.03109 9.29041 2.95554 11.1725C2.73488 11.5587 2.62456 11.7517 2.6367 12.0398C2.64885 12.3278 2.77857 12.516 3.03799 12.8923C4.3182 14.7497 7.79389 19.0562 12.5 19.0562C17.2061 19.0562 20.6818 14.7497 21.962 12.8923C22.2214 12.516 22.3511 12.3278 22.3633 12.0398C22.3754 11.7517 22.2651 11.5587 22.0445 11.1725C20.9689 9.2904 17.9442 5.05615 12.5 5.05615Z" />
                                                                <circle cx="12.5" cy="12.0562" r="3" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="product-button me-2" :id="item.productId" class="product-button me-2" @@click="addFavorite(item.productId)">
                                                        <a href="javascript:void(0);" class="buttonLInk">
                                                            <svg width="20" height="20" viewBox="0 0 25 25" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M4.95067 13.9644L11.9033 20.4956C12.1428 20.7206 12.2625 20.8331 12.4037 20.8608C12.4673 20.8733 12.5327 20.8733 12.5963 20.8608C12.7375 20.8331 12.8572 20.7206 13.0967 20.4956L20.0493 13.9644C22.0055 12.1267 22.243 9.10275 20.5978 6.98222L20.2885 6.58349C18.3203 4.04673 14.3696 4.47217 12.9867 7.3698C12.7913 7.77911 12.2087 7.77911 12.0133 7.3698C10.6304 4.47217 6.67972 4.04674 4.71154 6.5835L4.40219 6.98222C2.75695 9.10275 2.9945 12.1267 4.95067 13.9644Z" />
                                                            </svg>
                                                        </a>
                                                        <span id="isFavorite" class="d-none"></span>
                                                    </li>
                                                    <li class="product-button me-2">
                                                        <a href="javascript:void(0);" class="buttonLInk">
                                                            <i class="flaticon-left-and-right-arrows"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <button class="btn-base addbtn fw-400 whiteBtn" @@click="addcart(item.productId)">加入購物車
                                                    <span id="isadd" class="d-none"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <nav class="mt-30" aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item"><a class="page-link" href="shop-list.html">1</a></li>
                                            <li class="page-item"><a class="page-link" href="shop-list.html">2</a></li>
                                            <li class="page-item"><a class="page-link" href="shop-list.html">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="shop-list.html">
                                                    <i class="flaticon-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Shop Grid End -->

        </div>
        <!-- End Body Container -->
        <!-- ===== Footer Start ==== -->
        <!-- ==== Footer End ==== -->
        <!-- ===== Filter Start ==== -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample9"
             aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header p-4 pt-2 pb-2">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter</h5>
                <button type="button" class="btn-close animationCloser" data-bs-dismiss="offcanvas" aria-label="Close">
                    <span class="span1 animationLine"> </span>
                    <span class="span2 animationLine"> </span>
                </button>
            </div>
            <hr>
            <div class="offcanvas-body overflow-x">
                <div class="sidebar-content-box p-4">
                    <div class="sidebar-box  ">
                        <form action="#0">
                            <div class="cNews menuNews radious5 overflow-hidden position-relative d-flex border-0">
                                <input type="email" class="form-control w-100"
                                       placeholder="Search entire store here ...">
                                <button class="btnarrow">
                                    <i class="flaticon-search-interface-symbol"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <hr class="mt-4 mb-4">
                    <div class="sidebar-box mt-4 pt-2  ">
                        <h3 class="titleAfter d-inline-block">Select Categories</h3>
                        <div class="checkbox-item mt-2 pt-1">
                            <form>
                                <div class="form-group">
                                    <input type="checkbox" id="bedroom"> <label for="bedroom">
                                        Tire
                                        Wheels
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="decoration"> <label for="decoration">Engine</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="kitchen"> <label for="kitchen">Tire</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="clothing"> <label for="clothing">Suspension</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="office"> <label for="office">
                                        Engine
                                        Oil
                                    </label>
                                </div>
                                <div class="form-group m-0">
                                    <input type="checkbox" id="lighting"> <label for="lighting">Brake</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr class="mt-4 mb-4">
                    <div class="sidebar-box  ">
                        <h3 class="titleAfter d-inline-block">Color Option</h3>
                        <ul class="colorOptionSellect  mt-2">
                            <li> <a href="shop-grid-1.html" class="color-option-single"> <span> Black</span> </a> </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single active bg2">
                                    <span> Yellow</span>
                                </a>
                            </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single bg3"> <span> Red</span> </a>
                            </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single bg4"> <span> Blue</span> </a>
                            </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single bg5"> <span> Green</span> </a>
                            </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single bg6"> <span> Olive</span> </a>
                            </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single bg7"> <span> Lime</span> </a>
                            </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single bg8"> <span> Pink</span> </a>
                            </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single bg9"> <span> Cyan</span> </a>
                            </li>
                            <li>
                                <a href="shop-grid-1.html" class="color-option-single bg10"> <span> Magenta</span> </a>
                            </li>
                        </ul>
                    </div>
                    <hr class="mt-4 mb-4">
                    <div class="sidebar-box  ">
                        <h3 class="titleAfter d-inline-block">Filter By Price</h3>
                        <div class="slider-box pt-1 mt-3">
                            <div id="price-range" class="slider"></div>
                            <div class="output-price">
                                <label for="priceRange">Price:</label>
                                <input type="text" id="priceRange" readonly>
                            </div>
                            <button class="filterbtn" type="submit"> Filter </button>
                        </div>
                    </div>
                    <hr class="mt-4 mb-4">
                    <div class="sidebar-box  ">
                        <h3 class="titleAfter d-inline-block">Tags</h3>
                        <ul class="popular-tag mt-3">
                            <li><a href="shop-grid-1.html">Tools</a></li>
                            <li><a href="shop-grid-1.html">caraccessories</a></li>
                            <li><a href="shop-grid-1.html">car</a></li>
                            <li><a href="shop-grid-1.html">cars</a></li>
                            <li><a href="shop-grid-1.html">accessories</a></li>
                            <li><a href="shop-grid-1.html">auto</a></li>
                            <li><a href="shop-grid-1.html">carcare</a></li>
                            <li><a href="shop-grid-1.html">autoaccessories</a></li>
                            <li><a href="shop-grid-1.html">bmw</a></li>
                            <li><a href="shop-grid-1.html">automotive</a></li>
                            <li><a href="shop-grid-1.html">dashcamera</a></li>
                            <li><a href="shop-grid-1.html">carlovers</a></li>
                            <li><a href="shop-grid-1.html">carparts</a></li>
                            <li><a href="shop-grid-1.html">carporn</a></li>
                            <li><a href="shop-grid-1.html">autoparts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quick View Start-->
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog quickview-modal-width modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="quickview-modal position-relative">
                        <button type="button" class="btn-close modalcloser" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                        <!-- Product Details Start -->
                        <div class="product-details pr-30">
                            <div class="container auto-container p-0">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="quick-view-slider">
                                            <div class="tabs">
                                                <div class="qvBigImgBob">
                                                    <div id="tab7" class="tab-item qvImg">
                                                        <div class="popup-product-single-image">
                                                            <img :src="modalInfo.productPic" alt="img">
                                                        </div>
                                                    </div>
@*                                                    <div id="tab8" class="tab-item qvImg">
                                                        <div class="popup-product-single-image">
                                                            <img src="assets/images/demo-1/product-2.png" alt="img">
                                                        </div>
                                                    </div>
                                                    <div id="tab9" class="tab-item qvImg">
                                                        <div class="popup-product-single-image">
                                                            <img src="assets/images/demo-1/product-3.png" alt="img">
                                                        </div>
                                                    </div>*@
                                                    <button class="prev lh-0"> <i class="flaticon-back"></i> </button>
                                                    <button class="next lh-0"> <i class="flaticon-next"></i> </button>
                                                </div>
                                                <div class="qvSliderNavBox">
                                                    <ul>
                                                        <li class="tab-nav qvSliderNav">
                                                            <a href="#tab7">
                                                                <img :src="modalInfo.productPic" alt="img">
                                                            </a>
                                                        </li>
                                                        @*<li class="tab-nav qvSliderNav">
                                                            <a href="#tab8">
                                                                <img src="assets/images/demo-1/product-2.png" alt="img">
                                                            </a>
                                                        </li>
                                                        <li class="tab-nav qvSliderNav">
                                                            <a href="#tab9">
                                                                <img src="assets/images/demo-1/product-3.png" alt="img">
                                                            </a>
                                                        </li>*@
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="product-details-content sticky-product-image">
                                            <h2 class="fw-600">{{modalInfo.productName}} </h2>
                                            <div class="product-price mt-2 pt-1 lh-1 d-flex align-items-center">
                                                <h3 class="d-inline-block colorBage1 fw-600">
                                                    NT${{modalInfo.productUnitPrice}}
                                                </h3>
                                                <span class="regular-price font-16 ms-2"> NT${{modalInfo.productUnitPrice}} </span>
                                            </div>
                                            <ul class="rating mt-2 pt-1 align-items-center">
                                                <li> <i class="flaticon-star-1"></i> </li>
                                                <li> <i class="flaticon-star-1"></i> </li>
                                                <li> <i class="flaticon-star-1"></i> </li>
                                                <li> <i class="flaticon-star-1"></i> </li>
                                                <li> <i class="flaticon-star-1"></i> </li>
                                                @*<li class="mb--5 ms-2"> (6 Reviews)</li>*@
                                            </ul>
                                            <ul class="d-flex font-roboto pt-3 align-items-center">
                                                <li>
                                                    <a href="compare.html"
                                                       class="d-flex lh-1 colorBlack me-2 pe-2 align-items-center">
                                                        <span class="me-1">
                                                            <i class="flaticon-left-and-right-arrows"></i>
                                                        </span>
                                                        <span class="text">
                                                            Add to Compare
                                                        </span>
                                                    </a>
                                                </li>
                                                @*<li>
                                                    <a href="faq.html"
                                                       class="d-flex lh-1 colorBlack align-items-center">
                                                        <span class="me-1"> <i class="flaticon-comment"></i> </span>
                                                        <span class="text">
                                                            Ask Question
                                                        </span>
                                                    </a>
                                                </li>*@
                                            </ul>
                                            <p class="fw-600 colorBlaack mt-3">
                                                Quantity:
                                            </p>
                                            <div class="d-flex align-items-center">
                                                <div class="qtySelector pdCount me-3 mt-2">
                                                    <span class="decreaseQty" @*@@click="Eyeamountdecrease(modalInfo.productId)"*@>
                                                        <i class="flaticon-minus-sign"></i>
                                                    </span>
                                                    <input :data-eyeid="modalInfo.productId" type="text" class="qtyValue p-0 me-2 ms-2 text-center"
                                                           :value="modalInfo.productAmount" @*@@change="Eyeamountchange(modalInfo.productId)"*@>
                                                    <span class="increaseQty" @*@@click="Eyeamountincrease(modalInfo.productId)"*@>
                                                        <i class="flaticon-plus-1"></i>
                                                    </span>
                                                </div>
                                                <p class="font-roboto colorBlack pt-1 lh-1 d-flex align-items-center font-14">
                                                    <span class="me-1 greenc"><i class="flaticon-select"></i></span>
                                                    <span> In Stock</span>
                                                </p>
                                            </div>
                                            <div class="d-flex mt-3 align-items-center">
                                                <span class="lh-0 me-1"> <i class="flaticon-point"></i></span>
                                                <span>Order Now, Only {{modalInfo.productQty}} Left !</span>
                                            </div>
                                            <button class="btn-base w-100 mt-3" @@click="eyeaddcart(modalInfo.productId+'|'+modalInfo.productUnitPrice+'|'+modalInfo.productAmount)">
                                                加入購物車
                                            </button>
                                            <span class="d-none" :data-eyeisadd="modalInfo.productId"></span>
                                            <div class="d-flex mt-3 align-items-center">
                                                <span class="lh-0 me-1"> <i class="flaticon-shipped"></i></span>
                                                <p class="font-14">
                                                    SPENT <span class="fw-500 colorBlaack">$399.00</span> MORE FOR FREE
                                                    SHIPPING
                                                </p>
                                            </div>
                                            <div class="mt-2 d-flex align-items-center">
                                                <p class="me-3 fw-500 colorBlack">Follow Us:</p>
                                                <ul class="media-box d-flex align-items-center">
                                                    <li class="mediaLIst pe-2">
                                                        <a class="media w-auto h-auto bgTransparent font-18 hover-base"
                                                           href="https://www.facebook.com/" target="_blank">
                                                            <i class="flaticon-facebook-app-symbol"></i>
                                                        </a>
                                                    </li>
                                                    <li class="mediaLIst pe-2">
                                                        <a class="media w-auto h-auto bgTransparent font-18 hover-base"
                                                           href="https://www.instagram.com/" target="_blank">
                                                            <i class="flaticon-instagram"></i>
                                                        </a>
                                                    </li>
                                                    <li class="mediaLIst pe-2">
                                                        <a class="media w-auto h-auto bgTransparent font-18 hover-base"
                                                           href="https://youtube.com/" target="_blank">
                                                            <i class="flaticon-youtube"></i>
                                                        </a>
                                                    </li>
                                                    <li class="mediaLIst pe-2">
                                                        <a class="media w-auto h-auto bgTransparent font-18 hover-base"
                                                           href="https://www.twitter.com/" target="_blank">
                                                            <i class="flaticon-twitter"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="checked-box mt-2">
                                                <form>
                                                    <div class="form-group d-flex align-items-center">
                                                        <input type="checkbox" id="html">
                                                        <label class="ms-2" for="html">
                                                            I agree with all company terms & condition
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                            <button class="btn-base blackBtn mt-3 w-100">
                                                Buy It Now
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Product Details Start -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick View End -->
        <!-- Cart Drower Start -->
        <div class="offcanvas cartDrowerOffcanvus offcanvas-end" tabindex="-1" id="offcanvasRight">
            <div class="offcanvas-header pe-2">
                <h5 class="offcanvas-title fw-500" id="offcanvasRightLabel">Shopping Cart</h5>
                <button type="button" class="btn-close cartDrowerBtnClose" data-bs-dismiss="offcanvas"
                        aria-label="Close">
                    <span class="span1 animationLine"> </span>
                    <span class="span2 animationLine"> </span>
                </button>
            </div>
            <div class="offcanvas-body">
                <div class="side-cart d-flex flex-column justify-content-between">
                    <div class="top">
                        <div class="cartDrower mt-4">
                            <div v-for="item in shoppoingitem" class="items pe-2 d-flex justify-content-between">
                                <div class="left d-flex align-items-center">
                                    <a href="product-details.html"
                                       class="thumb d-flex justify-content-between align-items-center">
                                        <img :src="item.productPic" alt="pictures">
                                    </a>
                                    <div class="text me-2">
                                        <a href="product-details.html" class="d-block">
                                            <h6 class="fw-500 hover-base">{{item.productId}}</h6>
                                        </a>
                                        <p class="productPrice font-14 mt-2">
                                            <span>{{item.productQty}}</span> X <span>{{item.productUnitPrice}}</span> = <span class="colorBlaack">{{item.countprice}}</span>
                                        </p>
                                        <div class="qty">
                                            <div class="qtySelector cartquantity me-3 mt-2">
                                                <span class="decreaseQty radious5" @@click="amountdecrease(item.productId)">
                                                    <i class="flaticon-minus-sign"></i>
                                                </span>
                                                <input :data-id="item.productId" type="text" class="qtyValue p-0 me-2 ms-2 radious5 text-center"
                                                       :value="item.productQty" @@change="amountchange(item.productId)">
                                                <span @@click="amountincrease(item.productId)" class="increaseQty radious5">
                                                    <i class="flaticon-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="item-remove font-12"> <i class="flaticon-close"></i> </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="total-ammount d-flex justify-content-between align-items-center">
                            <h6 class="fw-600">Total:</h6>
                            <h6 class="ammount fw-600">{{sum}}</h6>
                        </div>
                        <div class="button-box">
                            <a href="cart.html" class="btn-base w-100"> View Your Cart</a>
                            <a href="cart.html" class="btn-base blackBtn mt-3 w-100"> Go To Checkout </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart Drower End -->
        <!-- Offcanvas Menu-Search Start -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight4" aria-labelledby="offcanvasRightLabel4">
            <div class="offcanvas-header searchHead d-flex align-items-center">
                <h5 class="offcanvas-title" id="offcanvasRightLabel4">Search Products</h5>
                <button type="button" class="btn-close p-0 animationCloser" data-bs-dismiss="offcanvas"
                        aria-label="Close">
                    <span class="span1 animationLine"> </span>
                    <span class="span2 animationLine"> </span>
                </button>
            </div>
            <div class="offcanvas-body overflow-hidden">
                <div class="cartAction px-3 py-4">
                    <form class="form m-0 p-0">
                        <div class="form-group">
                            <input type="text" class="form-control ps-3" placeholder="Product Keyword..">
                        </div>
                        <div class="form-group mt-3">
                            <select class="custom-select ps-3 pe-3">
                                <option value="1" selected="">Choose Category</option>
                                <option value="2"> Brake </option>
                                <option value="3"> Engine </option>
                                <option value="4"> Tire</option>
                                <option value="5">Filter </option>
                                <option value="5"> Suspension</option>
                            </select>
                        </div>
                        <div class="form-group mt-3 mb-0">
                            <button type="button" class="btn-base fw-400 radious0 w-100">Search Product</button>
                        </div>
                    </form>
                    <div class="mt-3 pt-2">
                        <h5 class="searchTitle">Hot Categories</h5>
                        <div class="row justify-content-between">
                            <div class="col-4 mt-3 d-flex justify-content-center">
                                <div class="scatBox d-flex">
                                    <div class="scat text-center">
                                        <a href="shop-grid-1.html" class="thumb">
                                            <img src="assets/images/demo-1/product-1.png" alt="pictures">
                                        </a>
                                        <h6 class="mt-2 font-15"><a href="shop-grid-1.html">Brake</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mt-3 d-flex justify-content-center">
                                <div class="scatBox d-flex">
                                    <div class="scat text-center">
                                        <a href="shop-grid-1.html" class="thumb">
                                            <img src="assets/images/demo-1/product-2.png" alt="pictures">
                                        </a>
                                        <h6 class="mt-2 font-15"><a href="shop-grid-1.html">Engine</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mt-3 d-flex justify-content-center">
                                <div class="scatBox d-flex">
                                    <div class="scat text-center">
                                        <a href="shop-grid-1.html" class="thumb">
                                            <img src="assets/images/demo-1/product-3.png" alt="pictures">
                                        </a>
                                        <h6 class="mt-2 font-15"><a href="shop-grid-1.html">Tire</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mt-3 d-flex justify-content-center">
                                <div class="scatBox d-flex">
                                    <div class="scat text-center">
                                        <a href="shop-grid-1.html" class="thumb">
                                            <img src="assets/images/demo-1/product-6.png" alt="pictures">
                                        </a>
                                        <h6 class="mt-2 font-15"><a href="shop-grid-1.html">Engine</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mt-3 d-flex justify-content-center">
                                <div class="scatBox d-flex">
                                    <div class="scat text-center">
                                        <a href="shop-grid-1.html" class="thumb">
                                            <img src="assets/images/demo-1/product-5.png" alt="pictures">
                                        </a>
                                        <h6 class="mt-2 font-15"><a href="shop-grid-1.html">Suspension</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mt-3 d-flex justify-content-center">
                                <div class="scatBox d-flex">
                                    <div class="scat text-center">
                                        <a href="shop-grid-1.html" class="thumb">
                                            <img src="assets/images/demo-1/product-8.png" alt="pictures">
                                        </a>
                                        <h6 class="mt-2 font-15"><a href="shop-grid-1.html">Filter</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Offcanvas Menu-Search End -->
        <!-- Mobile Nav Start -->
        <div class="offcanvas offcanvas-start mobile-nav-wrapper" tabindex="-1" id="offcanvasmenu">
            <div class="offcanvas-header">
                <button type="button" class="btn-close nev-cross text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close">
                    <span class="font-18 fw-600 colorBlaack"> Close Menu</span>
                    <span class="font-12 me-2 mt-1"> <i class="flaticon-close"></i> </span>
                </button>
            </div>
            <div class="offcanvas-body">
                <nav>
                    <ul class="mobile-nav navbar-nav flex-column">
                        <li class="dropdown-list nav-item p-0">
                            <a href="#0" class="nav-link">
                                <span>Home </span>
                                <span class="mnav-plus-minus">
                                    <i class="flaticon-plus-1"></i>
                                    <i class="flaticon-minus-sign"></i>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li> <a class="dropdown-item" href="index.html">Home 01</a> </li>
                                <li> <a class="dropdown-item" href="index-2.html">Home 02</a> </li>
                                <li> <a class="dropdown-item" href="index-3.html">Home 03</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-list nav-item p-0">
                            <a href="#0" class="nav-link">
                                <span>Shop </span>
                                <span class="mnav-plus-minus">
                                    <i class="flaticon-plus-1"></i>
                                    <i class="flaticon-minus-sign"></i>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li> <a class="dropdown-item" href="shop-list.html">Shop List</a> </li>
                                <li> <a class="dropdown-item" href="shop-grid-1.html">Shop Grid 01</a> </li>
                                <li> <a class="dropdown-item" href="shop-grid-2.html">Shop Grid 02</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-list nav-item p-0">
                            <a href="#0" class="nav-link">
                                <span>Single Product </span>
                                <span class="mnav-plus-minus">
                                    <i class="flaticon-plus-1"></i>
                                    <i class="flaticon-minus-sign"></i>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li> <a class="dropdown-item" href="product-details.html">Shop Details 01</a> </li>
                                <li> <a class="dropdown-item" href="product-details-2.html">Shop Details 02</a> </li>
                                <li> <a class="dropdown-item" href="product-details-3.html">Shop Details 03</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-list nav-item p-0">
                            <a href="#0" class="nav-link">
                                <span>Pages</span>
                                <span class="mnav-plus-minus">
                                    <i class="flaticon-plus-1"></i>
                                    <i class="flaticon-minus-sign"></i>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li> <a class="dropdown-item" href="login.html">Login </a> </li>
                                <li> <a class="dropdown-item" href="register.html">Registration </a> </li>
                                <li> <a class="dropdown-item" href="about.html">About </a> </li>
                                <li> <a class="dropdown-item" href="cart.html">Cart </a> </li>
                                <li> <a class="dropdown-item" href="checkout.html">Checkout</a> </li>
                                <li> <a class="dropdown-item" href="compare.html">Compare</a> </li>
                                <li> <a class="dropdown-item" href="error.html">Error</a> </li>
                                <li> <a class="dropdown-item" href="faq.html">Faq </a> </li>
                                <li> <a class="dropdown-item" href="wishlist.html">Wishlist</a> </li>
                            </ul>
                        </li>
                        <li class="dropdown-list nav-item p-0">
                            <a href="#0" class="nav-link">
                                <span>Blog</span>
                                <span class="mnav-plus-minus">
                                    <i class="flaticon-plus-1"></i>
                                    <i class="flaticon-minus-sign"></i>
                                </span>
                            </a>
                            <ul class="dropdown">
                                <li> <a class="dropdown-item" href="blog.html">Blog 01 </a> </li>
                                <li> <a class="dropdown-item" href="blog-2.html">Blog 02 </a> </li>
                                <li> <a class="dropdown-item" href="blog-details.html">Blog Details </a> </li>
                            </ul>
                        </li>
                        <li class="nav-item p-0"><a class="nav-link bb-0" href="contact.html">Contact </a></li>
                    </ul>
                </nav>
                <ul class="mobile-contact-info">
                    <li class="single-minfo">
                        <a href="contact.html"><i class="flaticon-location-1"></i>Our location</a>
                    </li>
                    <li class="single-minfo">
                        <a href="login.html"><i class="flaticon-account"></i>Log In / Sign Up</a>
                    </li>
                    <li class="single-minfo">
                        <a href="tel:+1234567890"><i class="flaticon-phone-call"></i>(+01) - 2345 - 6789</a>
                    </li>
                </ul>
                <div class="mobile-media">
                    <h6 class="mb-15">Follow Us</h6>
                    <ul class="social mt-3 d-flex align-items-center">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" class="hover-base font-16 me-3">
                                <i class="flaticon-facebook-app-symbol"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://youtube.com/" target="_blank" class="hover-base font-14 me-3">
                                <i class="flaticon-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank" class="hover-base font-14 me-3">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" class="hover-base font-14">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="site-copyright pt-0">
                    Copyright 2022 &copy; <a href="index.html">Nipom</a>.
                    All rights reserved. Powered by <a href="Http://www.bootstrapmb.com">bootstrapMB</a>.
                </p>
            </div>
        </div>

            @section Scripts{
            <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
            <script src="~/lib/vue/vue.global.min.js" ></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="./js/showproducts.js"></script>
            <script>

            </script>
            }
        

        @*<!-- Mobile Nav End -->
        <!--===scroll bottom to top===-->
        <a href="#0" class="scrollToTop"><i class="flaticon-up-arrow"></i></a>
        <!--===scroll bottom to top===-->
        <!--==== Js Scripts Start ====-->
        <!-- Jquery v3.6.0 Js -->
        <script src="assets/js/jqurey.v3.6.0.min.js"></script>
        <!-- Popper v2.9.3 Js -->
        <script src="assets/js/popper.v2.9.3.min.js"></script>
        <!-- Bootstrap v5.1.1 js -->
        <script src="assets/js/bootstrap.v5.1.1.min.js"></script>
        <!-- Jquery Ui js -->
        <script src="assets/js/plugin/jquery-ui.min.js"></script>
        <!-- Slick Slider Js -->
        <script src="assets/js/plugin/slick.min.js"></script>
        <!-- magnific-popup v2.3.4 Js -->
        <script src="assets/js/plugin/jquery.magnific-popup.min.js"></script>
        <!-- Countdown Js -->
        <script src="assets/js/plugin/jquery.countdown.min.js"></script>
*@
        <!-- Main js -->
        @*<script src="~/front/js/main.js"></script>*@
    </div>
    <!-- Page-wrapper End -->
</body>

</html>